@model NBC.Models.MasSubBusinessType

@{
    ViewBag.Title = "Delete";
    Layout = null;
}



<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("ชื่อธุรกิจย่อย")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">

            <input type="submit" value="ต้องการลบ" class="openCreateBox btn btn-primary btn-xs"  />
            @Html.ActionLink("ย้อนกลับ", "Index", "MasSubBusinessTypes", null, new { @class = "openCreateBox btn btn-primary btn-xs" })


        </div>

    }



</div>