@model NBC.Models.MasSubBusinessType

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>MasSubBusinessType</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                ชื่อธุรกิจย่อย
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
    
           
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("ย้อนกลับ", "Index", "MasSubBusinessTypes", null, new { @class = "openCreateBox btn btn-primary btn-xs" })
    </p>
</body>
</html>
