@model NBC.Models.MasProvince

@{
    ViewBag.Title = "Delete";
    Layout = null;
}



<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("จังหวัด")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">

            <input type="submit" value="ลบ" class="openCreateBox btn btn-primary btn-xs" />
            @Html.ActionLink("ย้อนกลับ", "Index", "MasProvinces", null, new { @class = "openCreateBox btn btn-primary btn-xs" })


        </div>

    }



</div>